{% extends 'index/base.html' %} 
{% load static %}

{% block body %}
<div class="symptoms"><h1>COVID-19 Symptom Checker</h1>
What symptoms are you currently displaying?
<form method="POST">
    {{ form.as_p }}    
</form>
</div><br>
<div class="emform">Below is the list of emergency warning signs you should look out for. If you are showing any of the following symptoms, please seek emergency medical care.
<form method="POST">   
    {% csrf_token %}
    {{ emform.as_p }}
    <button><a href="/symp/evaluation">Click</a></button>    
</form>
</div>
{% endblock %}