{% extends 'index/base.html' %} 
{% load static %}

{% block body %}
<h5>ooga booga</h5>
<div class="panel-body">
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'facility/locator.html' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Locate!</button>
            </div>
        </div>
    </form>
</div>
<strong></strong>

{% endblock %}